In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRWJb_ArGuAv1bFfuI1LErzd5J8SYUoWFH4VrgKFvPJy01Yj8PhP-wg5rNTUXyKcOYw24LFhscgAMCh/pub?output=csv")

In [3]:
data['date'] = pd.to_datetime(data['date'])

In [4]:
data = data.sort_values('date', ascending=True).reset_index()

In [5]:
data.tail(3)

,index,date,label,text,link,enrollment,school enrollment
54,47,2017-03-28,Consultants hired to explore consolidation wit...,Following the release of the 2016 FCMAT report...,http://www.smcsd.org/files/3-28-17-bd%20packet...,NaN,NaN
55,51,2017-06-05,Willow Creek Academy request to apply for faci...,The Sausalito Marin City school board denies W...,http://www.marinij.com/article/NO/20170605/NEW...,NaN,NaN
56,48,2017-07-27,School merger proposed,Willow Creek Academy school leader proposes me...,http://www.marinij.com/article/NO/20170727/NEW...,NaN,NaN

In [6]:
header = """
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <ul class="timeline">
"""

In [7]:
footer = """
        </ul>
    </body>
</html>
"""

In [8]:
items = []
for row in range(len(data)):
    try: 
        text = data.loc[row,'text'].strip()
        label = data.loc[row,'label']
        if '*Exact date' in text:
            date = data.loc[row,'date'].strftime('%Y')
        else: 
            date = data.loc[row,'date'].strftime('%B %Y')
        if data.loc[row,'link'] == 'None': 
            link = ''
        else: 
            link = """<br><a href="{}">Read Source</a>""".format(data.loc[row,'link'])
        item = """<li>
            <p class="timeline-date">{}</p>
                <div class="timeline-content">
                <h3>{}</h3>
                <p>{} {}</p>
                </div>
            </li>""".format(date, 
                            label, 
                            text, 
                            link)
        items.append(item)
    except Exception as e: 
        print(e)

'float' object has no attribute 'strip'

In [9]:
ul = ''.join(items)

In [10]:
html = header + ul + footer

In [11]:
with open("index.html", "w") as html_file:
    html_file.write(html)